/*FUNDO*/
::-webkit-scrollbar {
    width: 7px;
}
/*BARRA DE ROLAGEM*/
::-webkit-scrollbar-thumb {
      background-color:#c90101;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 20px;
}
 /* label focus color */
 .input-field input[type=number]:focus + label {
  color: rgb(183, 28, 28) !important;
}
/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid rgb(183, 28, 28) !important;
  box-shadow: 0 1px 0 0 rgb(183, 28, 28) !important
}
.input-field input:focus + label {
  color: rgb(183, 28, 28) !important;
}
/* label underline focus color */
.materialize-textarea:focus:not([readonly]) + label{
  color: rgb(183, 28, 28) !important;
}
.row .input-field input:focus ,.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid rgb(183, 28, 28) !important;
  box-shadow: 0 1px 0 0 rgb(183, 28, 28) !important
}
.material-icons.active {
  color: rgb(183, 28, 28) !important;
  }
.modalLC {
    margin-top: 50px;
    width: 400px;
    height: 700px;
    border-radius: 4px;
}

.slides{
    height: 100vh !important;
} 
.slider,.slides ul li img{
    height: 100vh !important;
    background-size: cover;
    background-attachment: fixed;
} 
.slider .indicators .indicator-item {
    width: 11px;
    height: 11px;
    margin: 3px;
    background-color: #ffffff52;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.425), 0 5px 10px 0 rgba(0, 0, 0, 0.452);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.425), 0 5px 10px 0 rgba(0, 0, 0, 0.452);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.425), 0 5px 10px 0 rgba(0, 0, 0, 0.452);
}
.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}

.slider .indicators {
    bottom: 30px;
    z-index: 9;
}
.fundoST{
    background-color: rgba(0, 0, 0, 0.575);
}

.fundoCards{
      width: 90%;
      display: flex;
      height: 500px;
      margin: auto;
}
.cartao{
      width: 33.3%;
      margin: 7px;
}
.parallax-container {
    height: 600px;
}
.card-content{
    height: 300px;
}